

<div class="banner home" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://i.ytimg.com/vi/g80HccoU-_I/maxresdefault.jpg);">
  <div class="container">
    <h1> <strong>Hogwartz Brewery</strong><strong></strong></h1>
    <p>Get proper wrecked after class!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container">
<div class="cards d-flex">
  <% @cocktails.each do |cocktail| %>
  <div class="card">
  <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(
    <%= cocktail.image.attached? ? (cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill) : 'https://loremflickr.com/cache/resized/65535_50313310487_1c15fca663_320_240_nofilter.jpg' %>)">


  <div class="card-img-overlay">
    <h4 class="card-title"><%= cocktail.name %></h4>
    <p class="card-text">Some example text.</p>
    <%= link_to 'details', cocktail_path(cocktail) %>
  </div>
</div>
<% end %>
</div>

<%=link_to 'add', new_cocktail_path %>

</div>
