// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pic{
  // object-fit: cover;
  height: 240px;
  width: 240px;
}

.card {
  height: 240px;
  width: 240px;
}
